<div [ngClass]="isDarkMode ? 'superMainDark' : 'superMainlight'">
  <div class="mainContainer">
    <section>
      <div [ngClass]="isDarkMode ? 'extenheadContDark' : 'extenheadContLight'">
        <div class="iconExten">
          <picture><img [src]="logoPath" alt="logo extensions" /></picture>
        </div>
        <div [ngClass]="isDarkMode ? 'buttonExtenDark' : 'buttonExtenLigth'">
          <input
            (click)="darkmode()"
            type="image"
            [src]="iconMode"
            alt="boton modo"
          />
        </div>
      </div>
    </section>
    <section class="buttonsCont">
      <div>
        <h1 [ngClass]="isDarkMode ? 'titleDark' : 'titleLight'">
          Extensions List
        </h1>
      </div>
      <div class="buttonsCont__buttonActs">
        <app-buttoncomp
          [darkModeButton]="isDarkMode"
          [buttonReUse]="All"
        ></app-buttoncomp>
        <app-buttoncomp
          [darkModeButton]="isDarkMode"
          [buttonReUse]="Active"
        ></app-buttoncomp>
        <app-buttoncomp
          [darkModeButton]="isDarkMode"
          [buttonReUse]="Inactive"
        ></app-buttoncomp>
      </div>
    </section>
    <section class="cardextensionCont">
      <app-cardextension [mainMode]="isDarkMode"></app-cardextension>
    </section>
  </div>
</div>
<router-outlet />
