<div class="mainContainer">
  <section>
    <div class="extenheadCont">
      <div class="iconExten">
        <picture
          ><img src="assets/images/logo.svg" alt="logo extensions"
        /></picture>
      </div>
      <div class="buttonExten">
        <input type="image" src="assets/images/icon-sun.svg" alt="boton sol" />
      </div>
    </div>
  </section>
  <section class="buttonsCont">
    <div><h1>Extensions List</h1></div>
    <div>
      <button>All</button><button>Active</button><button>Inactive</button>
    </div>
  </section>
  <section><app-cardextension></app-cardextension></section>
</div>
<router-outlet />
