<div class="mainContainer">
  <section>
    <div class="extenheadCont">
      <div class="iconExten">
        <picture
          ><img src="assets/images/logoWhite.svg" alt="logo extensions"
        /></picture>
      </div>
      <div class="buttonExten">
        <input type="image" src="assets/images/icon-sun.svg" alt="boton sol" />
      </div>
    </div>
  </section>
  <section class="buttonsCont">
    <div><h1>Extensions List</h1></div>
    <div>
      <app-buttoncomp [buttonReUse]="All"></app-buttoncomp>
      <app-buttoncomp [buttonReUse]="Active"></app-buttoncomp>
      <app-buttoncomp [buttonReUse]="Inactive"></app-buttoncomp>
    </div>
  </section>
  <section><app-cardextension></app-cardextension></section>
</div>
<router-outlet />
