.mainContainer
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(3,auto)

.extenheadCont
  display: flex
  flex-direction: row
  justify-content: space-between
  background: hsl(226, 25%, 17%)
  padding: 1rem
  align-items: center
  margin: 1rem
  border-radius: 10px

.buttonsCont
  display: flex
  flex-direction: column
  padding: 1rem 0
div:nth-child(1)
  h1
    text-align: center
    color: #fff
div:nth-child(2)
  display: flex
  justify-content: space-evenly
.buttonExten
  input
    background: hsl(225, 23%, 24%)
    padding: 0.5rem
    border-radius: 7px
