<div class="allCardCont">
  <div [ngClass]="mainMode ? 'cardExtContDark' : 'cardExtContLight'" *ngFor="let ext of extensions()">
    <div>
      <div>
        <picture><img src="{{ ext.img }}" alt="devlens" /></picture>
      </div>
      <div [ngClass]="mainMode ? 'cardExtContDark__text' : 'cardExtContLight__text'">
        <h3>{{ ext.title }}</h3>
        <p>{{ ext.text }}</p>
      </div>
    </div>
    <div class="cardExtbuttons">
      <app-buttoncomp [darkModeButton]="mainMode"  [buttonReUse]="Remove"></app-buttoncomp>
      <app-buttontoggle></app-buttontoggle>
    </div>
  </div>
</div>
